.popular-stocks {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 12px;
}

.stock-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stock-info {
  margin-top: 0.5rem;
}

.stock-list-item {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.view-all a {
  color: #007bff;
  text-decoration: none;
}

h5 {
  font-size: 12px;
}
