#login {
  overflow: hidden;
  position: relative;
  .form_label {
    font-size: 0.8rem;
  }
  .form-control {
    box-shadow: none;

    &:focus {
      border: 1px solid #000;
      opacity: 0.7;
    }
  }

  .setting_icon {
    position: absolute;
    right: 0.5%;
    top: 25%;
  }

  //   animation
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .setting_icon .bg_primary {
    animation: spin 2s linear infinite;
  }

  .curve-button {
    width: 50px;
    height: 50px;
    background-color: #40b7b2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .icon {
    color: #000;
    font-size: 20px;
  }
}
